.section {
  padding: 30px 0 var(--spacing-xxl);
}

.layout {
  display: flex;
  width: 100%;
  min-height: 300px;
  margin-top: var(--spacing-lg);
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-xl);
  gap: var(--spacing-xl);
  align-items: center;
}

.image {
  width: 60%;
  max-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 67%;
  height: auto;
  border-radius: var(--radius-xl);
  object-fit: contain;
  display: block;
  margin-top: 120px;
}

.text {
  width: 55%;
  padding: var(--spacing-lg) 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p {
  max-width: 70ch;
}

/* Responsive */
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
    min-height: auto;
  }

  .image,
  .text {
    width: 100%;
    padding: var(--spacing-lg) 0;
  }

  .image img {
    margin-top: 0;
  }
}
