.heroNosotros {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-bottom: var(--spacing-xxl);
}

@media (max-width: 900px) {
  .heroNosotros {
    padding-bottom: var(--spacing-xl);
  }
}
